<div class="center padding-all">
  <h1 class="text-color-1">Construimos</h1>
  <md-card class="width-card fondo1">
    <md-card-header class="text-color-2">
      <md-card-title><h4>Edificios</h4></md-card-title>
    </md-card-header>
  <img md-card-image src="assets/img/edificio-min.jpg" alt="">
  </md-card>
  <md-card class="width-card fondo2">
    <md-card-header class="text-color-2">
      <md-card-title><h4>Complejos residenciales</h4></md-card-title>
    </md-card-header>
    <img md-card-image src="assets/img/OFASNQ0-min.jpg" alt="">
  </md-card>
  <md-card class="width-card fondo3">
    <md-card-header class="text-color-2">
      <md-card-title><h4>Complejos industriales</h4></md-card-title>
    </md-card-header>
    <img md-card-image src="assets/img/industria-min.jpeg" alt="">
  </md-card>
</div>