<carousel>
  <slide>
    <img src="../assets/img/2909-min.jpg" alt="First slide">
    <div class="carousel-caption">
      <div class="banner">
        <img src="../assets/img/banner.png" alt="">
      </div>
      <h3>Personal calificado</h3>
      <p>La mejor compañía de construccion de América.</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/img/2350-min.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Obra ejecutadas de alta calidad</h3>
      <p>Grupo de arquitectos e ingenieros reconocidos mundialmente</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/img/OIW37Q0-min.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Estamos cerca de usted</h3>
      <p>Nos encontramos en los 5 continentes</p>
    </div>
  </slide>
</carousel>